<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Post Detail Page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <h1><%= post.title %></h1>
      <img src="<%= post.postImageUrl %>" width="700px" />
      <pre class="mt-3"><%= post.description %></pre>
    </div>

    <div class="container mt-4">
      <img src="<%= post.createdBy?.profileImgUrl %>" width="50px" />
      <%= post.createdBy?.fullName %>
    </div>

    <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/post/comment/<%= post._id %>" method="post">
        <div class="mb-3">
          <input
            type="text"
            name="content"
            class="form-control"
            placeholder="Enter your comment"
          />
          <button class="btn btn-sm btn-primary" type="submit">Add</button>
        </div>
      </form>

      <% } %>
      <div class="mt-3">
        <% comments.forEach(comment => { %>
        <div>
          <img src="<%= comment.createdBy?.profileImageURL %>" width="50px" />
          <%= comment.createdBy?.fullName %>
          <pre><%= comment.content %></pre>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
