<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Show all Blog Posts</title>
  </head>
  <body>
    <%- include("_navbar") %>
    <div class="container mt-4">
      <div class="card pt-3 pb-4 px-4 mx-auto d-block" style="width: 30rem">
        <h2 class="my-2 mb-4"><%= post.title %></h2>
        <div class="text-muted mb-2">
          <%= post.createdAt.toLocaleDateString() %>
        </div>

        <div class="card-text pb-4"><%= post.description %></div>

        <a href="/posts/edit/<%= post.id %>" class="btn btn-info">Edit post</a>
      </div>
    </div>
  </body>
</html>
